<section class="bg-primary" id="conference">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Letna konferenca MakeIT</h2>
                <hr class="light" />
                <p class="text-faded">Letos bo konferenca ponovno v virtualni obliki (saj vemo zakaj). Čakajo nas štirje tematski sklopi od katerih bo eden posvečen javi in oblačnim tehnologijam.</p>
                <p class="text-faded">Člani društva OpenBlend imajo 10% popust, za dodatnih 5% popusta pa izpolni <a class="text-faded page-scroll" href="#events">obrazec s svojimi predlogi tem za mesečne dogodke Cafe Babe</a>.</p>
                <p class="text-faded"><strong>18. - 19. OKTOBER 2021</strong></p>
                <a href="https://makeit.si/" class="btn btn-default btn-xl" target="_blank">Več na makeit.si</a>
            </div>
        </div>
    </div>
</section>
