<section class="bg-primary" id="conference">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Letna conferenca Make.it</h2>
                <hr class="light" />
                <p class="text-faded">Pridruži se 450 razvijalcem, ki obiščejo konferenco MakeIT in izberi tebi najzanimivejša predavanja iz 65 različnih, rezporejenih v 6 tematskih track-ov.</p>
                <p class="text-faded">Čalni OpenBlend društva imate 10% popust, za dodatenih 5% popusta izpolni <a href="#events" class="text-faded">obrazec za predloge za Cafe Babe predavanja</a>.</p>
                <p class="text-faded"><strong>14. - 15. OKTOBER 2019</strong></p>
                <a href="https://makeit.si/" class="btn btn-default btn-xl" target="_blank">Več na makeit.si</a>
            </div>
        </div>
    </div>
</section>
