<section class="" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mesečni dogodki Cafe Babe</h2>
                <hr />
                <p class="text-muted">Enkrat mesečno se srečujemo v Poligonu, kjer pripravljamo predavanja in debate o različnih odprtokodnih tehnologijah, predvsem povezanih z jezikom in razvojnim okoljem Java.</p>
                <p class="text-muted">Bi rad to kar počneš delil z drugimi? <br />
                Te zanima kakšna teme in bi rad o njej slišal več? <br />
                <strong>Izpolni obrazec za zbiranje predlogov</strong></p>
                <p class="text-muted">Obišči našo Meetup stran, da izveš kdaj bo naše naslednje srečanje.</p>
                <a href="https://goo.gl/forms/6ECx0fm32FYcHdN62" class="btn btn-primary btn-xl" target="_blank">Predlogi za predavanja</a>
                <a href="https://www.meetup.com/OpenBlend-Slovenian-Java-User-Group/" class="btn btn-primary btn-xl" target="_blank">Meetup stran</a>
            </div>
        </div>
    </div>
</section>
