<section class="" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mesečni meetup-i Cafe Babe</h2>
                <hr class="light">
                <p class="text-muted">Enkrat mesečno se srečujemo v Poligonu, kjer pripravljamo predavanja o različnih odprtokodnih tehnologijah, predvsem povazanih z Java programskim jezikom.</p>
                <p class="text-muted">Bi rad to kar počneš delil z drugimi? <br />
                Te zanima kakšna teme in bi rad o njej slišal več? <br />
                <strong>Izpolni obrazec za zbiranje predlogov</strong></p>
                <p class="text-muted">Za točne datume obišči našo Meetup stran.</p>
                <a href="https://goo.gl/forms/6ECx0fm32FYcHdN62" class="btn btn-light btn-xl" target="_blank">Predlogi za predavanja</a>
                <a href="https://www.meetup.com/OpenBlend-Slovenian-Java-User-Group/" class="btn btn-primary btn-xl page-scroll" target="_blank">Meetup stran</a>
            </div>
        </div>
    </div>
</section>
